<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			href="{{ url_for('static', filename='css/fonts.css') }}"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
			rel="stylesheet"
			integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
		<title>Zeeg</title>
	</head>
	<body>
		<div id="background">
			<video loop autoplay muted>
				<source src="{{ url_for('static', filename='video/videoCozinha.mp4') }}" type="video/mp4" />
			</video>
		</div>

		<header>
			<h1 class="logo">Z<span>EE</span>G</h1>
			<img src="{{ url_for('static', filename='img/logoAcademia.png') }}" alt="" />
			<nav>
				<ul>
					<li>Home</li>
					<li>Produtos</li>
					<li>Contato</li>
				</ul>
			</nav>
		</header>
		<main>
			<section class="heroBanner">
				<div class="chamada">
					<h1>RODÍZIO JAPÊS</h1>
					<h1>Uma experiência <span>autêntica</span></h1>
					<div class="btn">
						<a href="{{ url_for}}" class="btn_saiba-mais">Reserve já</a>
					</div>
				</div>
			</section>

			<section class="unidades">
				<div class="unidades_info">
					<h1>Nossa Culinária</h1>
					<p>
						O ZEEG SUSHI tem como base a fusão asiática, por meio dos nossos pratos e criações,
						queremos transmitir a vocês o afeto que temos pelo alimento e pela boa gastronomia.
						Sempre a procura de realizar vontades e satisfazer o cliente.
					</p>
				</div>
			</section>

			<section class="section-carrossel">
				<div class="info_cardapio">
					<h1>ZEEG SUSHI</h1>
					<h2>Cardápio</h2>
					<h1>Nossos destaques</h1>
				</div>
				<div class="container-wrapper">
					<div class="container-carrossel" id="cards"></div>
						<div class="controles">
							<button onclick="voltar()"><</button>
							<button onclick="avancar()">></button>
						</div>
					
				</div>
			</section>
			
			<section class="imgs_apresentacoes">
				 <div class="images">
					<img class="imagem" src="{{ url_for('static', filename='img/imagem-apresentacao1.jpg') }}" alt="">
					<img class="imagem" src="{{ url_for('static', filename='img/imagem-apresentacao2.jpg') }}" alt="">
					 <img class="imagem" src="{{ url_for('static', filename='img/imagem-apresentacao3.jpg') }}" alt="">
				
			</section>
		
		</main>
		<script src="{{ url_for('static', filename='js/cru.js') }}"></script>
		<script
			src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"
			integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
			crossorigin="anonymous"
		></script>
	</body>
</html>
